*.tgz
/**/*.ts
/**/*.map
!/**/*.d.ts
samples/reports
samples/e2e-tsc/*.js
!samples/e2e-tsc/*.ts
!samples/e2e-tsc/tsconfig.json
publish-next.js
test-app
.vscode
.git
.gitignore
.npmignore
package-lock.json
