*.tgz
/**/*.ts
/**/*.map
!/**/*.d.ts
samples/reports
!samples/jasmine.json
!samples/mocha.opts
!samples/config
!samples/e2e-tsc/*.ts
!samples/e2e-js/*.js
!samples/e2e-tsc/tsconfig.json
publish-next.js
test-app
.vscode
.git
.gitignore
.npmignore
package-lock.json
